---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<h2>Not All Collisions are Bad: Adapting to User Contact Preferences for Whole-Arm Manipulation</h2>
Rishabh Madan, Jiawei Lin, Mahika Goel, Amber Li, <strong>Angchen Xie</strong>, Xiaoyu Liang, 
Marcus Lee, Justin Guo, Pranav N. Thakkar, Rohan Banerjee, Jose A. Barreiros, Katherine M. Tsui, Tapomayukh Bhattacharjee
<p style="font-size: 0.8em;">(Accepted by CoRL2025)</p>

<h2>
  Non-repetitive: A promising LiDAR scanning pattern
  <a href="https://ieeexplore.ieee.org/abstract/document/10802663" target="_blank">[Paper]</a>
  <a href="https://www.kaggle.com/datasets/angchenxie/repetitive-or-not" target="_blank">[Dataset]</a>
  <a href="https://drive.google.com/file/d/1EGfvYi0n4ffNZ7P1tnNBKiXi4jBc9Bmj/view?usp=drive_link" target="_blank">[Presentation]</a>
</h2>
<strong>Angchen Xie</strong>, Yeqiang Qian, Weihao Yan, Chunxiang Wang, Ming Yang
<p style="font-size: 0.8em;">(Accepted by IROS2024)</p>


<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



